{% extends 'mainapp/layout.html' %}
{% load social_share %}
{%load thumbnail%}
{%block head%}
<meta name="keywords" content="{{article.title}} "> 
{%endblock%}
{% block title%}
    {{article.title}}
{% endblock %}


<!--SUBPAGE HEAD-->
{%block content%}
<div class="subpage-head has-margin-bottom">
  <div class="container">
    <h3>{{article.title}}</h3>
    <p class="lead">{{article.created_at|date:'d/m/Y '}} <a href="#" class="link-reverse">{{article.author}}</a></p>
  </div>
</div>

<!-- // END SUBPAGE HEAD -->

<div class="container">
  <div class="row">
    <div class="col-md-12 has-margin-bottom">
      <article class="blog-content">
      {% comment %} <img src="{{article.image.url}}" alt="imagen-articulo" class="img-responsive has-margin-xs-bottom"> {% endcomment %}
      {% thumbnail article.image "1500x800" crop="center" as im %} 
        <img class="img-responsive center-block img-sub" src="{{im.url}}" alt="bulletin blog" class="img-responsive has-margin-xs-bottom"> 
      {% endthumbnail %}
      </br>
      <p>{{article.content | safe}}</p>  
      </article>
    </div>
    <div class="col-md-12 has-margin-bottom">
      <button class="btn btn-secondary">{% post_to_facebook "" "Compartir en facebook" "Leer más sobre este artículo " %}</button>
      <button class="btn btn-secondary">{% post_to_twitter "Leer más sobre este artículo " "" "Compartir en twitter"%}</button>
      <button class="btn btn-secondary">{% post_to_whatsapp "" "Compartir en whatsapp" %}</button>
    </div>
  </div> 
</div>


{% endblock%}
