{% extends 'mainapp/layout.html' %}

{% block title%}
    {{article.title}}
{% endblock %}

{% comment %} {% block content%}
<h1 class="title">{{article.title}}</h1>
<span class="date"> {{article.created_at}}</span>
{% if article.image != 'null' and article.image.url|length >= 1%}
    <div class="image">
        <img src="{{article.image.url}}"/>
    </div>

{%endif%}
<p class="content"> {{article.content|safe}} </p>
<p> 
    {{article.content|safe}}
</p>
{% endblock %} {% endcomment %}
<!--SUBPAGE HEAD-->
{%block content%}
<div class="subpage-head has-margin-bottom">
  <div class="container">
    <h3>{{article.title}}</h3>
    <p class="lead">{{article.created_at}}<a href="#" class="link-reverse">{{article.author}}</a></p>
  </div>
</div>

<!-- // END SUBPAGE HEAD -->

<div class="container">
  <div class="row">
    <div class="col-md-12 has-margin-bottom">
      <article class="blog-content">
      {{article.content | safe}}  
      </article>
    </div>
  </div> 
</div>
{% endblock%}