{% extends 'mainapp/layout.html' %}

{% block title%}
    {{article.title}}
{% endblock %}

{% comment %} {% block content%}
<h1 class="title">{{article.title}}</h1>
<span class="date"> {{article.created_at}}</span>
{% if article.image != 'null' and article.image.url|length >= 1%}
    <div class="image">
        <img src="{{article.image.url}}"/>
    </div>

{%endif%}
<p class="content"> {{article.content|safe}} </p>
<p> 
    {{article.content|safe}}
</p>
{% endblock %} {% endcomment %}
<!--SUBPAGE HEAD-->
{%block content%}
<div class="subpage-head has-margin-bottom">
  <div class="container">
    <h3>{{article.title}}</h3>
    <p class="lead">{{article.created_at}}<a href="#" class="link-reverse">{{article.user.first_name}} {{article.user.last_name}}</a></p>
  </div>
</div>

<!-- // END SUBPAGE HEAD -->

<div class="container">
  <div class="row">
    <div class="col-md-12 has-margin-bottom">
      <article class="blog-content">
        <p class="lead">Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo.</p>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <h4>Sub-heading</h4>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <h6>Another heading</h6>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
          <li>Donec id elit non mi porta gravida at eget metus.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p>Penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </article>
      <section class="comments-block">
        <h3 class="comments-head">4 Comments</h3>
        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" alt="avatar" src="images/avatar-1.jpg"> </a>
          <div class="media-body">
            <h6 class="media-heading">James Norton</h6>
            <p class="text-muted">Aug 10, 2014 at 10:20 am</p>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </div>
        </div>
        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" alt="avatar" src="images/avatar-2.jpg"> </a>
          <div class="media-body">
            <h4 class="media-heading">Mark Johns</h4>
            <p class="text-muted">Aug 10, 2014 at 10:20 am</p>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            <div class="media"> <a class="pull-left" href="#"> <img class="media-object" alt="avatar" src="images/avatar-1.jpg"> </a>
              <div class="media-body">
                <h4 class="media-heading">John Doe</h4>
                <p class="text-muted">Aug 10, 2014 at 10:20 am</p>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </div>
            </div>
          </div>
        </div>
        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" alt="avatar" src="images/avatar-1.jpg"> </a>
          <div class="media-body">
            <h4 class="media-heading">James Norton</h4>
            <p class="text-muted">Aug 10, 2014 at 10:20 am</p>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </div>
        </div>
      </section>
      <section class="post-comment-form">
        <h3 class="comments-head">Add your comment</h3>
        <form class="form" role="form">
          <div class="row">
            <div class="form-group col-md-4 col-sm-4">
              <input type="text" class="form-control input-lg" placeholder="Your name">
            </div>
            <div class="form-group col-md-4 col-sm-4">
              <input type="email" class="form-control input-lg" placeholder="Your email">
            </div>
            <div class="form-group col-md-4 col-sm-4">
              <input type="url" class="form-control input-lg" placeholder="Website (optional)">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <textarea cols="8" rows="4" class="form-control input-lg" placeholder="Your comment"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <button type="submit" class="btn btn-primary btn-lg">Submit your comment</button>
            </div>
          </div>
        </form>
      </section>
    </div>
</div>
{% endblock%}