{% extends 'mainapp/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<!--SUBPAGE HEAD-->
<div class="subpage-head has-margin-bottom">
  <div class="container">
    <h3>LITERATURA</h3>
    <p class="lead">Publicaciones y articulos de nuestra literatura</p>
  </div> 
</div>
<div class="input-group col-md-9">
    <form class="d-flex" method=POST action="{% url 'search'%}">
        {% csrf_token %}
      <input type="search" class="form-control rounded" placeholder="Busca un articulo" aria-label="Search"  aria-describedby="search-addon" name="searched"/>
      <button type="submit" class="btn btn-secondary btnbusqueda">Buscar</button>
      </form>
</div>

<!-- // END SUBPAGE HEAD -->
<div class="container">
  <div class="row">
    <div class="col-md-12 has-margin-bottom"> 
    {% include 'articles/articles.html' %}
   
    </div>
  </div>
</div>
  
 {% include 'articles/pagination.html' %}


<br>
  

{% endblock %}

