{% extends 'mainapp/layout.html' %}

{% block title%}
    {{event.title}}
{% endblock %}


<!--SUBPAGE HEAD-->
{%block content%}
<div class="subpage-head has-margin-bottom">
  <div class="container">
    <h3>{{event.title}}</h3>
    <p class="lead">{{event.fecha|date:'d/m/Y '}} a las {{event.fecha|date:'H:i'}} <a href="#" class="link-reverse">{{event.author}}</a></p>
  </div>
</div>

<!-- // END SUBPAGE HEAD -->

<div class="container">
  <div class="row">
    <div class="col-md-12 has-margin-bottom">
      <article class="blog-content">
        <div class="pull-left col-sm-12 col-md-6">
          <img src="{{event.image.url}}" alt="imagen-evento" class="img-responsive has-margin-xs-bottom">
        </div>
        <p>{{event.content | safe}}  </p>
      </article>
      <div title="Add to Calendar" class="addeventatc">
    Agregar al calendario
    <span class="start">{{event.fecha|date:'n/j/Y H:i'}}</span>
    <span class="end">08/02/2021 10:00 AM</span>
    <span class="timezone">America/Argentina
</span>
    <span class="title">{{event.title}}</span>
    <span class="description">{{event.content|safe}} </span>
</div>
    </div>
  </div> 
</div>
{% endblock%}
