{% extends 'mainapp/layout.html' %}

{% block title %}{{subcomision.name}}{% endblock %}

{% block content %}

  <!--SUBPAGE HEAD-->

  <div class="subpage-head has-margin-bottom">
    <div class="container">
      <h3>{{subcomision.name}}</h3>
      <p class="lead">{{subcomision.description}} </p>
    </div>
  </div>

  <!-- // END SUBPAGE HEAD -->

  <div class="container has-margin-bottom">
    <div class="row">
      <div class="col-md-9 has-margin-bottom"> <img src="images/ministry-pic.jpg" class="img-responsive has-margin-xs-bottom" alt="ministry">
        <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. </p>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <blockquote> And we know that in all things God works for the good of those who love him, who have been called according to his purpose. </blockquote>
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <h4>Another Heading</h4>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
      </div>
      <!--// col md 9-->
    </div>
  </div>

  <!-- RELATED MINISTRIES -->
  <div class="container mb-2">
    <div class="section-title">
      <h4> Articulos relacionados </h4>
    </div>
    <div class="articulosextracto">
      {% include 'articles/articles.html' %}
    </div>
    <div class="articulosextracto"></div>
  </div>

{% endblock %}