{% extends 'mainapp/layout.html' %}

{% block title %}{{subcomision.name}}{% endblock %}

{% block content %}

  <!--SUBPAGE HEAD-->

  <div class="subpage-head has-margin-bottom">
    <div class="container">
      <h3>{{subcomision.name}}</h3>
      <p class="lead">Biblioteca Popular Osvaldo Bayer </p>
    </div>
  </div>

  <!-- // END SUBPAGE HEAD -->

  <div class="container has-margin-bottom">
    <div class="row">
      <div class="col-md-12 has-margin-bottom"> <img src="{{subcomision.image.url}}" class="img-responsive has-margin-xs-bottom subcomimage" alt="subcomision">
        <p>{{subcomision.description|safe}}</p>
      </div>
      <!--// col md 9-->
    </div>
  </div>

  <!-- ARTICULOS RELACIONADOS -->
  <div class="container mb-2">
    <div class="section-title">
      <h4> Articulos relacionados </h4>
    </div>
    <div class="articulosextracto">
      {% include 'articles/articles.html' %}
    </div>
    <div class="articulosextracto"></div>
  </div>

{% endblock %}