{% extends 'mainapp/layout.html' %}

{% block title%}
   Sobre Nosotros
{% endblock %}


{% block content%}

<div class="subpage-head has-margin-bottom">
  <div class="container">
    <h3>SOBRE NOSOTROS</h3>
    <p class="lead">Quienes somos, orígenes e historia de nuestra biblioteca</p>
  </div>
</div>

<div class="container has-margin-bottom">
  <div class="row">
    <div class="col-md-12 has-margin-bottom">
      <h4>¿Qué son las bibliotecas populares?</h4>
      <p> Las bibliotecas populares son asociaciones civiles autónomas creadas por iniciativa comunitaria. Ofrecen servicios y espacios de consulta, expresión y desarrollo de actividades culturales, de la lectura y del libro en forma amplia, libre y pluralista. Son dirigidas y sostenidas por sus socios y socias y brindan información, educación y recreación, mediante su acervo que está abierto al público. Las comisiones directivas trabajan ad honorem. </p>
      
      <h4>¿Qué es la Bayer?</h4>
      <p>La Bayer, es promotora de cultura y un referente por su compromiso con la comunidad. Siempre trabajó por la visibilización de los derechos humanos, el acceso a la tierra, la protección de la naturaleza y el acompañamiento a las comunidades mapuches.</p>
       
      <h4>Actividades cotidianas de la Bayer</h4>
      <ul>
        <li>Préstamos de libros</li>
        <li>Catálogo actualizado online</li>
        <li>Acceso de las socias y usarios a las computadoras</li>
        <li>Espacio de encuentro y estudio</li>
        <li>Mediación de lectura para jardines, primarias y secundarias</li>
        <li>Taller de cuentos para la primera infancia</li>
        <li>Trabajos interinstitucionales con el I.S.F.D. Nro.15, C.D.I. Las Mutisias, C.C.I., Hospital Oscar Arraiz, e instituciones educativas.</li>
      </ul>

      <br/>
      <h4>Historia</h4>
      <p>La Biblioteca se creó el 25 de noviembre de 1991 como Biblioteca Popular de Villa la Angostura. Comenzó a funcionar en un edificio que prestó la Municipalidad en el casco histórico donde actualmente funciona el Registro Civil. El pueblo contaba con 3000 habitantes mientras que en la actualidad, la población pasa los 15.000 habitantes. </p>
      <p>En 1993 se le adjudicó un terreno para la construcción del edificio propio y se comenzó la construcción del mismo. A raíz del incendio, la biblioteca se mudó en mayo de 2000. El 14 de diciembre de 2000, tras una votación en Asamblea Ordinaria, se decidió que se llamara Osvaldo Bayer. En el 2012 se editó el primer libro de historia para 1er. ciclo escolar “Los chicos de Angostura” que fue realizado por la Biblioteca junto con la Dra. Laura Méndez,  el escritor Víctor Díaz y la ilustradora Paola Knotek. </p>
      <p>En el 2006, se logró la figura legal del Donante Presunto, porcentaje dentro de la factura de servicios municipales, que permite a la población realizar un aporte voluntario. Como su nombre lo indica todos son donantes salvo que manifiesten  su desacuerdo en la Municipalidad. Gracias a esta figura, en 2019, se realizó una ampliación de 10m x 6m, la sala “María Teresa Andruetto” equipada con sonido, cañón y luces. El equipamiento se obtuvo mediante un subsidio en Puntos de Cultura de Nación para realizar espectáculos, presentaciones de libros y conciertos.</p>

      <br/>

      <h4>Acciones históricas junto a otros actores sociales</h4>
      <ul>
        <li>Repudio a Erich Priebke</li>
        <li>No al casino</li>
        <li>No al golf</li>
        <li>No a los camiones</li>
        <li>Mediación de lectura para jardines, primarias y secundarias</li>
        <li>Acciones para que se cumpla la Ley de Bosques</li>
        <li>Rechazo al estudio de impacto ambiental del proyecto de circunvalación.</li>
        <li>Cada 24 de marzo: jornadas por memoria, verdad y justicia</li>
        <li>Abrazo a la Biblioteca para que se mantenga el Donante Presunto</li>
        <li>Campaña solidaria del 2011 Un fardo para mi hermano a raíz de la explosión del volcán Puyehue</li>
        <li>Campaña solidaria del 2021 para la Comunidad Cañio a raíz del incendio en la Comarca Andina</li>
      </ul>
      <br/>
      <h4>¿Cómo se sostiene?</h4>
      <ul>
        <li>La Biblio pertenece a CONABIP (Comisión Nacional de Bibliotecas Populares) que gestiona a nivel nacional subsidios y aportes a las 2000 bibliotecas del país para proyectos especiales, gastos generales y ferias del libro.</li>
        <li>La Dirección Provincial de Bibliotecas Populares del Neuquén aporta un subsidio anual para gastos generales y compra de libros.</li>
        <li>La Municipalidad de Villa la Angostura aporta el sueldo de dos empleadas, la electricidad y el gas.</li>
        <li>La comunidad aporta el Donante Presunto administrado por la Municipalidad que  aporta el pago del sueldo de una empleada.</li>
        <li>Las familias asociadas aportan una cuota social única.</li>
      </ul>
      <br/>

      </br>
      <p>Actualmente la biblioteca cuenta con 29.000 libros catalogados y aproximadamente otros 1000 para catalogar. 
Cuenta con tres bibliotecarias y su horario de apertura es de lunes a jueves de 9hs a 14hs y de 15hs a 19hs. Los días viernes abre solo hasta las 14hs.</p>

     
      <p>Un <a href="https://www.youtube.com/watch?v=h4BBPl6d6hk" class="btn btn-primary" target="_blank">video</a> de nuestros primeros 20 años</p>

    </div>
    <!--// col md 9--> 
    
    <!--Latest Sermons-->
    <div class="col-md-3 visible-md-block visible-lg-block">
    
    </div>
  </div>
</div> 
{% endblock %}
