{% extends 'mainapp/layout.html' %}

{% block title %}Feria Del Libro{% endblock %}

{% block content %}

  <!--SUBPAGE HEAD-->

  <div class="subpage-head has-margin-bottom">
    <div class="container">
      <h3>Feria del libro | Infantil y Juvenil</h3>
      <p class="lead">Biblioteca Popular Osvaldo Bayer </p>
    </div>
  </div>

  <!-- // END SUBPAGE HEAD -->

  <div class="container has-margin-bottom">
    <div class="row">
      <div class="col-md-12 has-margin-bottom"> <img src="{{subcomision.image.url}}" class="img-responsive has-margin-xs-bottom subcomimage" alt="feriaimage">
        <p>Feria del Librrrro</p>
      </div>
      <!--// col md 9-->
    </div>
  </div>

  

{% endblock %}