<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h5>SOBRE LA BIBLIOTECA</h5>
        <p>Lorem impsu lorem impsu Lorem impsu lorem impsu Lorem impsu lorem impsu Lorem impsu lorem impsu Lorem impsu lorem impsu</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>ACCESO RAPIDO</h5>
        <ul class="footer-links">
          <li><a href="#">Proximos eventos</a></li>
          <li><a href="#">SubComisiones</a></li>
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>DIRECCION</h5>
        <p>Biblioteca Osvaldo Bayer<br>
          Los Maquis 33<br>
          Villa La Angostura, Neuquén<br>
          <br>
          Phone: +61 3 8376 6284<br>
          Email: <a href="#">mail@catholicwebsite.com</a></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>CONNECT</h5>
        <div class="social-icons"><a href="#"><img src="images/fb-icon.png" alt="social"></a> <a href="#"><img src="images/tw-icon.png" alt="social"></a> <a href="#"><img src="images/in-icon.png" alt="social"></a></div>
      </div>
    </div>
  </div>
</footer>
<!-- END FOOTER --> 