{% extends 'mainapp/layout.html' %}
{% load static %}
{% block title%}
    {{title}}
{% endblock %}

{% block content %}
<!-- FLEXSLIDER
    ================================================== -->

<div class="flexslider">
          <ul class="slides">
            <li class="slide-one">
            <div class="flexslider-caption">
<h3 class="carousel-title">NUESTRO NOMBRE</h3>
          <h1 class="carousel-title">¿QUIEN FUE OSVALDO BAYER?</h1>
          <p><a class="btn btn-giant btn-primary" href={%url 'about'%} role="button">Leer mas &rarr;</a></p>
          </div>
  	    		</li>
  	    		<li class="slide-two">
                 <div class="flexslider-caption">
          <h1 class="carousel-title">ARCHIVOS DEL SUR</h1>
 <h3 class="carousel-title">Mapeo de nuestra historia, archivos, documentos, investigaciones y tesis</h3>                          
<p><a class="btn btn-lg btn-primary" href="{%url 'subcomision' 1 %}" role="button" target="blank">Conoce mas &rarr;</a></p>
          </div>
  	    		</li>
  	    		<li class="slide-three">
                 <div class="flexslider-caption">
          <h1 class="carousel-title">FERIA DEL LIBRO</h1>
 <h3 class="carousel-title">Evento anual de encuentro intercultural e intercolegial de libros <em>Villa La Angostura</em></h3>                          
<p><a class="btn btn-lg btn-primary" href="#gallery" role="button">Ver fotos&rarr;</a></p>
          </div>
  	    		</li>
          </ul>
        </div>
 
<!-- // END FlexSlider --> 

<!--CATALOG-->

<div class="highlight-bg has-margin-bottom">
  <div class="container event-cta">
    <div class="ec-txt"> <span>NUESTROS LIBROS Y DISPONIBILIDADES</span>
      <p>CATALOGO VIRTUAL</p>
    </div>
    <a class="btn btn-lg btn-primary" href="http://3169.bepe.ar/cgi-bin/koha/opac-search.pl?q=" role="button" target="_blank">INGRESA AQUI →</a> </div>
</div>

<!-- // CATALOG --> 

<!--SUBCOMISIONES-->
<div class="container" id="subcomisiones">
  <div class="section-title" >
    <h4> SUBCOMISIONES </h4>
  </div>
    <div class="row feature-block">
      {%for subcomision in subcoms%}
        <div class="col-md-3 col-sm-6 has-margin-bottom"> <img class="img-responsive" src="{{subcomision.image.url}}" alt="subcomision">
          <h5>{{subcomision.name}}</h5>
          <p>{{subcomision.description|truncatechars:250|safe}}</p>
          <p><a href="{%url 'subcomision' subcomision.id %}"  role="button">MAS INFO →</a></p>
        </div>
      {%endfor%}
    </div>
</div>
<!-- // SUBCOMISIONES --> 

<!--EVENT LISTS-->

<div class="highlight-bg has-margin-bottom"id="events">
  <div class="container event-list">
    <div class="section-title">
      <h4> EVENTOS &amp; ACTIVIDADES </h4>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel">
           
            {% for event in events %}
            <div class="el-block item">
              <h4>{{event.fecha|date:'d/m/Y '}} </h4>
              <p class="el-head">{{event.title}}</p>
              <span>{{event.author}}</span>
              <p class="el-cta"><a class="btn btn-primary" href="{%url 'event' event.id%}" role="button">Detalles &rarr;</a></p>
            </div> 
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- // END EVENT LISTS --> 

<!-- BLOG LIST -->
<div class="container has-margin-bottom">
  <div class="row">
    <div class="col-md-12 has-margin-bottom">
      <div class="section-title">
        <h4> BLOG </h4>
      </div>
      
      <!--Blog list-->
      
      {%for article in articles|slice:4 %}
          <div class="row has-margin-bottom">
            <div class="col-md-4 col-sm-4"> <img class="img-responsive center-block" src="{{article.image.url}}" alt="bulletin blog"> </div>
            <div class="col-md-8 col-sm-8 bulletin">
              <h4 class="media-heading">
                {{article.title}} 
              </h4>
              <p>
                {{article.created_at|date:'d/m/Y '}} 
                <a href="#" class="link-reverse">Vincent John</a>
              </p>
              
              {{article.content|safe}}
              <a class="btn btn-primary" href="{%url 'article' article.id%}" role="button">Leer articulo →</a> 
            </div>
          </div>
      {%endfor %}
    </div>
  </div>
</div> 

<!-- END BLOG LIST --> 

<!-- CITAS -->
<div class="highlight-bg has-margin-bottom">
  <div class="container event-list">
    <div class="section-title">
      <h4> CITAS </h4>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel2">
          <div class="item">
            <blockquote class="blockquote-centered"> En democracia, la autocrítica no significa dar un paso atrás sino uno adelante. <small>Osvaldo Bayer </small> </blockquote>
          </div>
          <div class="item">
            <blockquote class="blockquote-centered">Sostengo, como eslogan, que mientras haya miseria no hay democracia <small>Osvaldo Bayer</small> </blockquote>
          </div>
          <div class="item">
            <blockquote class="blockquote-centered">Hay que esclarecer nuestro pasado para que nunca se repita<small>Osvaldo Bayer</small> </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // END CITAS --> 

<!--OUR GALLERY-->
<div class="container has-margin-bottom" id="gallery">
  <div class="section-title">
    <h4> GALERIA </h4>
  </div>
  <div class="img-gallery row">
    <div class="col-sm-4 col-md-3"> <a class="fancybox" href="#" data-fancybox-group="gallery" title="image gallery"> <img src="{%static 'assets/images/miniarchivo.jpg'%}" class="img-responsive" width="270" height="270" alt="image gallery"> </a> </div>
    <div class="col-sm-4 col-md-3"> <a class="fancybox" href="#" data-fancybox-group="gallery" title="image gallery"> <img src="{%static 'assets/images/cocomanija.jpeg'%}" class="img-responsive" width="270" height="270" alt="image gallery"> </a> </div>
    <div class="col-sm-4 col-md-3"> <a class="fancybox" href="#" data-fancybox-group="gallery" title="image gallery"> <img src="{%static 'assets/images/miniarchivo.jpg'%}" class="img-responsive" width="270" height="270" alt="image gallery"> </a> </div>
    <div class="col-sm-4 col-md-3"> <a class="fancybox" href="#" data-fancybox-group="gallery" title="image gallery"> <img src="{%static 'assets/images/aquabosque.jpg'%}" class="img-responsive" width="270" height="270" alt="image gallery"> </a> </div>
    <div class="col-sm-4 col-md-3"> <a class="fancybox" href="#" data-fancybox-group="gallery" title="image gallery"> <img src="{%static 'assets/images/CINE.jpg'%}" class="img-responsive" width="270" height="270" alt="image gallery"> </a> </div>
    <div class="col-sm-4 col-md-3"> <a class="fancybox" href="#" data-fancybox-group="gallery" title="image gallery"> <img src="{%static 'assets/images/miniarchivo.jpg'%}" class="img-responsive" width="270" height="270" alt="image gallery"> </a> </div>
    <div class="col-sm-4 col-md-3"> <a class="fancybox" href="#" data-fancybox-group="gallery" title="image gallery"> <img src="{%static 'assets/images/cocomanija.jpeg'%}" class="img-responsive" width="270" height="270" alt="image gallery"> </a> </div>
    <div class="col-sm-4 col-md-3"> <a class="fancybox" href="#" data-fancybox-group="gallery" title="image gallery"> <img src="{%static 'assets/images/CINE.jpg'%}" class="img-responsive" width="270" height="270" alt="image gallery"> </a> </div>
  </div>
</div>
<!--// END OUR GALLERY --> 
<div id="contact">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24176.036824061153!2d-71.64676641031777!3d-40.7619234925533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9610bf4307ab8641%3A0xbb27500aec1b7b6!2sBiblioteca%20Popular%20Osvaldo%20Bayer!5e0!3m2!1ses-419!2sar!4v1625488714299!5m2!1ses-419!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" ></iframe>
</div>
{% endblock %}

