{% extends 'mainapp/layout.html' %}
{% load static %}
{% load thumbnail %}
{% block title%}
    {{title}}
{% endblock %}

{% block content %}
<!-- FLEXSLIDER
    ================================================== -->

<div class="flexslider">
          <ul class="slides">
            <li class="slide-one">
            <div class="flexslider-caption">
<h3 class="carousel-title">NUESTRO NOMBRE</h3>
          <h1 class="carousel-title">¿QUIÉN ES OSVALDO BAYER?</h1>
          <p><a class="btn btn-giant btn-primary" href={%url 'about'%} role="button">Leer más &rarr;</a></p>
          </div>
  	    		</li>
  	    		<li class="slide-two">
                 <div class="flexslider-caption">
          <h1 class="carousel-title">ARCHIVOS DEL SUR</h1>
 <h3 class="carousel-title">Voces y memorias de los pobladores del Nahuel Huapi</h3>                          
<p><a class="btn btn-lg btn-primary" href="{%url 'subcomision' 1 %}" role="button" target="blank">Conocé más &rarr;</a></p>
          </div>
  	    		</li>
  	    		<li class="slide-three">
                 <div class="flexslider-caption">
          <h1 class="carousel-title">FERIA DEL LIBRO </h1>
 <h3 class="carousel-title">INFANTIL Y JUVENIL</h3>                          
<p><a class="btn btn-lg btn-primary" href="#gallery" role="button">Conocé más&rarr;</a></p>
          </div>
  	    		</li>
          </ul>
        </div>
 
<!-- // END FlexSlider --> 

<!--CATALOG-->

<div class="highlight-bg has-margin-bottom">
  <div class="container event-cta">
    <div class="ec-txt"> <span>NUESTROS LIBROS Y DISPONIBILIDADES</span>
      <p class="mons-font">CATÁLOGO VIRTUAL</p>
    </div>
    <a class="btn btn-lg btn-primary" href="http://3169.bepe.ar/cgi-bin/koha/opac-search.pl?q=" role="button" target="_blank">INGRESA AQUÍ →</a> </div>
</div>

<!-- // CATALOG --> 
<!-- BLOG LIST -->
<div class="container">
  <div class="row">
    <div class="col-md-12 has-margin-bottom">
      <div class="section-title">
        <h4> BLOG </h4>
      </div>
      
      <!--Blog list-->
      {% if fav_articles|length > 0%}
        {%for article in fav_articles|slice:2 %} 

            <div class="row has-margin-bottom">
              <div class="col-md-4 col-sm-4">
                {% thumbnail article.image "360x225" crop="center" as im %} 
                  <img class="img-responsive center-block" src="{{im.url}}" alt="bulletin blog"> 
                {% endthumbnail %}
              </div>
              <div class="col-md-8 col-sm-8 bulletin">
                <h4 class="media-heading">
                  {{article.title}} 
                </h4>
                <p>
                  {{article.created_at|date:'d/m/Y '}} 
                  <a href="#" class="link-reverse">{{article.author}}</a>
                </p>
                
                <div class="extract">{{article.content|safe|truncatechars_html:450}}</div>
                <a class="btn fav_art" href="{%url 'article' article.id%}" role="button">★ Articulo recomendado ★</a> 
                {% comment %} <p class="btn fav_art" > ★ Articulo recomendado ★ </p> {% endcomment %}
              </div>
            </div>
        {%endfor %}
        {%for article in articles|slice:2 %} 

            <div class="row has-margin-bottom">
              <div class="col-md-4 col-sm-4">
                {% thumbnail article.image "360x225" crop="center" as im %} 
                  <img class="img-responsive center-block" src="{{im.url}}" alt="bulletin blog"> 
                {% endthumbnail %}
              </div>
              <div class="col-md-8 col-sm-8 bulletin">
                <h4 class="media-heading">
                  {{article.title}} 
                </h4>
                <p>
                  {{article.created_at|date:'d/m/Y '}} 
                  <a href="#" class="link-reverse">{{article.author}}</a>
                </p>
                
                <div class="extract">{{article.content|safe|truncatechars_html:450}}</div>
                <a class="btn btn-primary" href="{%url 'article' article.id%}" role="button">Leer articulo →</a> 
              </div>
            </div>
        {%endfor %}
      {% else %}
        {%for article in articles|slice:4 %} 

            <div class="row has-margin-bottom">
              <div class="col-md-4 col-sm-4">
                {% thumbnail article.image "360x225" crop="center" as im %} 
                  <img class="img-responsive center-block" src="{{im.url}}" alt="bulletin blog"> 
                {% endthumbnail %}
              </div>
              <div class="col-md-8 col-sm-8 bulletin">
                <h4 class="media-heading">
                  {{article.title}} 
                </h4>
                <p>
                  {{article.created_at|date:'d/m/Y '}} 
                  <a href="#" class="link-reverse">{{article.author}}</a>
                </p>
                
                <div class="extract">{{article.content|safe|truncatechars_html:450}}</div>
                <a class="btn btn-primary" href="{%url 'article' article.id%}" role="button">Leer articulo →</a> 
    
              </div>
            </div>
        {%endfor %}
      {%endif%}

    </div>
  </div>
</div> 

<!-- END BLOG LIST --> 



<!--EVENT LISTS-->

<div class="highlight-bg has-margin-bottom"id="events">
  <div class="container event-list">
    <div class="section-title">
      <h4> EVENTOS &amp; ACTIVIDADES </h4>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel">
           
            {% for event in events %}
            <div class="el-block item">
              <h4>{{event.fecha|date:'d/m/Y '}} </h4>
              <p class="el-head">{{event.title}}</p>
              <span class="event-date">{{event.fecha|time:'G:i'}}</span>
              <p class="el-cta"><a class="btn btn-primary" href="{%url 'event' event.id%}" role="button">Detalles &rarr;</a></p>
            </div> 
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- // END EVENT LISTS --> 

<!--SUBCOMISIONES-->
<div class="container" id="subcomisiones">
  <div class="section-title" >
    <h4> SUBCOMISIONES </h4>
  </div>
    <div class="row feature-block">
      {%for subcomision in subcoms%}
        <div class="col-md-3 col-sm-6 has-margin-bottom"> 
          {% thumbnail subcomision.image "260x150" crop="center" as im %} 
            <img class="img-responsive center-block img-sub" src="{{im.url}}" alt="bulletin blog"> 
          {% endthumbnail %}
          {% comment %} <img class="img-responsive center-block img-sub" src="{{subcomision.image.url}}" alt="subcomision"> {% endcomment %}
          <h5>{{subcomision.name}}</h5>
          <p>{{subcomision.description|truncatechars:250|safe}}</p>
          <p><a href="{%url 'subcomision' subcomision.id %}"  role="button">MAS INFO →</a></p>
        </div>
      {%endfor%}
    </div>
</div>
<!-- // SUBCOMISIONES --> 

<!-- CITAS -->
<div class="highlight-bg has-margin-bottom">
  <div class="container event-list">
    <div class="section-title">
      <h4> CITAS </h4>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel2">
          <div class="item">
            <blockquote class="blockquote-centered"> En democracia, la autocrítica no significa dar un paso atrás sino uno adelante. <small>Osvaldo Bayer </small> </blockquote>
          </div>
          <div class="item">
            <blockquote class="blockquote-centered">Sostengo, como eslogan, que mientras haya miseria no hay democracia <small>Osvaldo Bayer</small> </blockquote>
          </div>
          <div class="item">
            <blockquote class="blockquote-centered">Hay que esclarecer nuestro pasado para que nunca se repita<small>Osvaldo Bayer</small> </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // END CITAS --> 

<!--OUR GALLERY-->
<div class="container has-margin-bottom" id="gallery">
  <div class="section-title">
    <h4> GALERIA </h4>
  </div>
  <div class="img-gallery row">
    <div class="col-sm-4 col-md-3"> 
      <a class="fancybox" href="{%static 'assets/images/biblio_nieve.jpeg'%}" data-fancybox-group="gallery" title="image gallery"> 
        <img src="{%static 'assets/images/biblio_nieve.jpeg'%}" class="img-responsive" width="270" height="270" alt="image gallery"> 
      </a> 
    </div>

    <div class="col-sm-4 col-md-3">
      <a class="fancybox" href="{%static 'assets/images/biblio_nieve.jpeg'%}" data-fancybox-group="gallery" title="image gallery"> 
        <img src="{%static 'assets/images/biblio_nieve.jpeg'%}" class="img-responsive" width="270" height="270" alt="image gallery"> 
      </a> 
    </div>

    <div class="col-sm-4 col-md-3"> 
      <a class="fancybox" href="{%static 'assets/images/biblio_nieve.jpeg'%}" data-fancybox-group="gallery" title="image gallery"> 
        <img src="{%static 'assets/images/biblio_nieve.jpeg'%}" class="img-responsive" width="270" height="270" alt="image gallery"> 
      </a> 
    </div>

    <div class="col-sm-4 col-md-3">
      <a class="fancybox" href="{%static 'assets/images/biblio_nieve.jpeg'%}" data-fancybox-group="gallery" title="image gallery"> 
        <img src="{%static 'assets/images/biblio_nieve.jpeg'%}" class="img-responsive" width="270" height="270" alt="image gallery"> 
      </a> 
    </div>  
    <div class="col-sm-4 col-md-3"> 
      <a class="fancybox" href="{%static 'assets/images/fotobiblio2.jpg'%}" data-fancybox-group="gallery" title="image gallery"> 
        <img src="{%static 'assets/images/fotobiblio2.jpg'%}" class="img-responsive" width="270" height="270" alt="image gallery"> 
      </a> 
    </div>
    <div class="col-sm-4 col-md-3"> 
      <a class="fancybox" href="{%static 'assets/images/fotobiblio1.jpg'%}" data-fancybox-group="gallery" title="image gallery"> 
        <img src="{%static 'assets/images/fotobiblio1.jpg'%}" class="img-responsive" width="270" height="270" alt="image gallery"> 
      </a> 
    </div>
    <div class="col-sm-4 col-md-3"> 
      <a class="fancybox" href="{% static 'assets/images/fotobiblio3.jpg'%}" data-fancybox-group="gallery" title="image gallery"> 
        <img src="{%static 'assets/images/fotobiblio3.jpg'%}" class="img-responsive" width="270" height="270" alt="image gallery"> 
      </a> 
    </div>
    <div class="col-sm-4 col-md-3"> 
      <a class="fancybox" href="{%static 'assets/images/fotobiblio2.jpg'%}" data-fancybox-group="gallery" title="image gallery"> 
        <img src="{%static 'assets/images/fotobiblio2.jpg'%}" class="img-responsive" width="270" height="270" alt="image gallery"> 
      </a> 
    </div>
  </div>
</div>
<!--// END OUR GALLERY --> 
<div id="contact">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24176.036824061153!2d-71.64676641031777!3d-40.7619234925533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9610bf4307ab8641%3A0xbb27500aec1b7b6!2sBiblioteca%20Popular%20Osvaldo%20Bayer!5e0!3m2!1ses-419!2sar!4v1625488714299!5m2!1ses-419!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" ></iframe>
</div>
{% endblock %}

