{%load static%}
<!-- FOOTER -->

<footer class="footer-i">
  <div class="container" id="contact">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h5>SOBRE LA BIBLIOTECA</h5>
        <p>Lorem impsu lorem impsu Lorem impsu lorem impsu Lorem impsu lorem impsu Lorem impsu lorem impsu Lorem impsu lorem impsu</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>ACCESO RAPIDO</h5>
        <ul class="footer-links">
          <li><a href="#events">Proximos eventos</a></li>
          <li><a href="#subcomisiones">Subcomisiones</a></li>
          <li><a href={%url 'about'%}>Sobre nosotros</a></li>
          <li><a href={%url 'list'%}>Blog</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>DIRECCIÓN</h5>
        <p>Biblioteca Osvaldo Bayer<br>
          Los Maquis 33<br>
          Villa La Angostura, Neuquén<br>
          <br>
          Telefono: +54 2944494279 <br>
          Email: <a href="#">bibliotecabayer@gmail.com</a></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>NUESTRAS REDES</h5>
        <div class="social-icons">
        <a href="https://www.youtube.com/channel/UCSGDT3jQX_TtXMwIvkGQe4w"target=blank><img src="{%static 'assets/images/yt.png'%}"alt="social"/></a> 
        <a href="https://www.facebook.com/Biblioteca-Popular-Osvaldo-Bayer-168390816512508" target=blank><img src="{%static 'assets/images/fb-icon.png'%}" alt="social"></a> 
        <a href="https://www.instagram.com/bayerband/"target=blank><img src="https://img.icons8.com/windows/64/000000/instagram-new.png"alt="social"/></a>
      </div>
    </div>
  </div>
</footer>
<!-- END FOOTER --> 