{% extends 'mainapp/layout.html' %}
{%load static%}
{% block title %}¿Quien es Osvaldo Bayer?{% endblock %}

{% block content %}

  <!--SUBPAGE HEAD-->

  <div class="subpage-head has-margin-bottom">
    <div class="container">
      <h3>¿Quien inspiro nuestro nombre? ¿Porque?</h3>
      <p class="lead">Osvaldo Bayerrrr </p>
    </div>
  </div>

  <!-- // END SUBPAGE HEAD -->

  <div class="container has-margin-bottom">
    <div class="row">
      <div class="col-md-12 has-margin-bottom"> <img src="{%static 'assets/images/OSVALDOBAYER.jpg'%}" class="img-responsive has-margin-xs-bottom subcomimage" alt="OsvaldoBayer">
        <p>Un capo oswald</p>
      </div>
      <!--// col md 9-->
    </div>
  </div>

  

{% endblock %}