{% extends 'mainapp/layout.html' %}
{%load static%}
{% block title %}¿Quien es Osvaldo Bayer?{% endblock %}

{% block content %}

  <!--SUBPAGE HEAD-->

  <div class="subpage-head has-margin-bottom">
    <div class="container">
      <h3>¿Quién inspiró nuestro nombre? ¿Por que?</h3>
      <p class="lead">Osvaldo Bayer y la Biblioteca Popular Osvaldo Bayer de Villa La Angostura - Puelmapu </p>
    </div>
  </div>

  <!-- // END SUBPAGE HEAD -->

  <div class="container has-margin-bottom">
    <div class="row">
      <div class="col-md-12 has-margin-bottom"> <img src="{%static 'assets/images/osvaldoenvla2.jpeg'%}" class="img-responsive has-margin-xs-bottom subcomimage" alt="Osvaldo Bayer en Villa La Angostura">
        <p>
        La figura ética de Osvaldo es mundialmente conocida. 
        Periodista, historiador, escritor. Luchador incansable en la denuncia sobre los genocidios de los pueblos originarios y de las dictaduras militares. Pacifista y  anarquista. Genial difusor de sus ideas y de las luchas populares que se han dado en la Argentina. Lo define la frase En Argentina no habrá democracia mientras haya villas miserias. 
        </p>
        <p>
        El legado más grande de su obra es la increíble investigación plasmada en cuatro tomos sobre los fusilamientos de los peones patagónicos en Santa Cruz en 1921; dejando claro cómo actúa el poder usando el terror y el silencio ante las reinvindicaciones de la sociedad. Ese silencio fue el que destruyó don Osvaldo, en miles de páginas. Pero no se quedó ahí, escribió el guión de la película La Patagonia Rebelde en los oscuros días previos a la irrupción de la Dictadura de 1976, impulsando una obra que llegó a miles de hogares argentinos, en la cual denuncia las atrocidades cometidas por el Estado argentino en la Patagonia hace 100 años.
        </p>
        <p>Tuvo que exiliarse como tantos otros para salvar su vida. </p>
        En el 2000, varios socios de la Biblioteca Popular Villa la Angostura impulsaron el cambio de nombre. En aquella histórica votación se eligió la figura de Osvaldo Bayer a diferencia de tantas bibliotecas en Patagonia que se llaman Roca, Rivadavia y más héroes de bronce. Un legado que nos enorgullece.
        </p>
      </div>
      <div class="col-md-12 has-margin-bottom"> <img src="{%static 'assets/images/osvaldoenvla.jpeg'%}" class="img-responsive has-margin-xs-bottom subcomimage" alt="OsvaldoBayer">
      <!--// col md 9-->
    </div>
  </div>

  

{% endblock %}